/* 
* layout.css 
* ----------
* Styles for overall layout structure
* Responsibilites:
* - Grid
* - Spacing 
* - Media queries 
*/


/* TODO: Add layout style */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);
    padding: var(--space-md) 0;
    background: transparent;
    border: none;
    position: relative;

}

.navbar__links a {
    color: var(--color-text);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar__links a:hover {
    color: var(--color-accent);
}

/* ---------- Section Wrapper ---------- */
section {
    padding: var(--space-xxl) var(--space-md);
    display: flex;
    justify-content: center;
}

section>div {
    width: 100%;
    max-width: var(--max-width);
}



/* ---------- Hero ---------- */
#hero .hero__content {
    text-align: center;
    margin: 0 auto;
}

.hero__title {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: var(--space-md);
    color: var(--color-text);
}

.hero__subtitle {
    font-size: 1.3rem;
    color: var(--color-text-light);
    margin-bottom: var(--space-lg);
}

.hero__cta {
    display: flex;
    justify-content: center;
    gap: var(--space-md);
}